<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
           
            document.getElementById('buscar_BCU').addEventListener('click', function() {
               // Agregar un evento click al botón 'Buscar'
                document.getElementById('resultado_BCU').style.display = 'block'
                    // Mostrar el área de resultados al hacer clic en el botón;
            });
        });
    </script>
</head>
<body>

    <h2>Dijkstra</h2>
    <!-- Formulario para la búsqueda de Dijkstra -->
    <form action="/buscar_dijkstra" method="POST">
        <button type="submit">Dijkstra</button>
    </form>
    {% if resultado_dijkstra %}
        <h3>Resultado:</h3>
        <p>{{ resultado_dijkstra }}</p>
    {% endif %}
</body>
</html>
